

@mixin header_style {
    background-color: aqua;
    letter-spacing: 3px;
    color:green;
    text-transform: uppercase;
    
}
@mixin argumrnts($color:yellow,$bgcolor,$width:2px) {
    border: $color solid $width;
    background-color: $bgcolor;
}
@mixin para_style {

    background-color: green;
    color: purple;
    
}
p{
    @include argumrnts($bgcolor:red);
}

h1{
    @include header_style();
    text-transform: lowercase;

}

h2{
    @include header_style();
    color:blue;

}